.hero-section{
background-color: aqua;
}

.home-content {
  background-image: linear-gradient();
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-text-header{
  color: rgb(255, 0, 0);
  font-weight: bolder;
}
.carousel-text-paragraph{
  color: white;
  font-weight: 900;
}
.carousel-img{
  filter: blur(2px);
}